body {
  background-color: #f4d35e;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-header {
  background-color: #083d77;
  color: #ebebd3;
}
.main-text {
  padding: 0;
  font-size: 16px;
  justify-content: center;
}

.text {
  font-size: 20px;
  width: 800px;
}

.bombom {
  font-family: Oswald;
}

.one {
  font-family: "Prata", serif;
}

.two {
  font-family: "Spartan", sans-serif;
}

.three {
  font-family: "Bebas Neue", cursive;
}

.fore {
  font-family: "Lobster", cursive;
}

.five {
  font-family: "Press Start 2P", cursive;
}

.six {
  font-family: "Bad Script", cursive;
}

.seven {
  list-style-type: none;
  text-decoration: none;
  color: #000;
  font-size: 30px;
}
